body {
	margin: 0;
	padding: 0;
	background-image: url("Image/background.jpg");
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
}
@font-face {
	font-family: "MontserratRegular";
	src: url("../Font/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "CinzelRegular";
	src: url("../Font/Cinzel-Regular.ttf");
}
#LogoOlivier {
	width: 200px;
	height: 65px;
	margin-left: 20px;
}
header {
	display: flex;
	height: 90px;
	align-items: center;
	background-color: rgba(55,55,55,0.9);
}
nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#ListeAccueil {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
	list-style-type: none;
}
.LiAccueil {
	color: #C0B283;
	font-family: "Sans-serif";
	padding: 2vmin;
	font-size: 2.5vmin;
}
a {
	text-decoration: none;
}
a:hover {
	text-shadow: 5px 2px 3px #C0B283;
}
@media screen and (max-width: 640px) {
	header {
		height: 70px;
	}
	#LogoOlivier {
		width: 150px;
		height: 50px;
		margin-left: 20px;
	}
	.LiAccueil {
		font-size: 3vmin;
		padding: 1vmin;
	}
	#ListeAccueil {
		margin-right: 10px;
		margin-left: -20px;
	}
}